<div class="wrap nosubsub">
    <h1 class="wp-heading-inline">Chuyên mục</h1>
    <hr class="wp-header-end">
    <div id="ajax-response"></div>
    <form class="search-form wp-clearfix" method="get">
        <p class="search-box">
            <input type="search" id="cat-search-input" name="s" value="{{data.s}}">
            <input type="submit" id="search-submit" class="button" value="Tìm kiếm chuyên mục">
        </p>

    </form>
    <div id="col-container" class="wp-clearfix">
        <div id="col-left">
            <div class="col-wrap">
                <div class="form-wrap">
                    <h2>Thêm chuyên mục</h2>
                    <form id="addcat" method="post" class="validate">
                        <div class="form-field form-required term-name-wrap">
                            <label for="cat-name">Tên *</label>
                            <input name="cat_name" id="cat_name" type="text" value="" size="40" aria-required="true"
                                aria-describedby="name-description">
                            <p id="name-description">Tên riêng sẽ hiển thị trên trang mạng của bạn.</p>
                        </div>
                        <div class="form-field term-slug-wrap">
                            <label for="tag_slug">Đường dẫn *</label>
                            <input name="tag_slug" id="tag_slug" type="text" value="" size="40"
                                aria-describedby="slug-description">
                            <p id="slug-description">Chuỗi cho đường dẫn tĩnh là phiên bản của tên hợp chuẩn với Đường
                                dẫn (URL). Chuỗi này bao gồm chữ cái thường, số và dấu gạch ngang (-).</p>
                        </div>
                        <div class="form-field term-parent-wrap">
                            <label for="parent">Chuyên mục cha</label>
                            <select name="parent" id="parent" class="postform">
                                <option value="-1">Trống</option>
                                <option class="level-0" value="1">Uncategorized</option>
                                <option class="level-0" value="2">Giới Thiệu</option>
                                <option class="level-0" value="3">Liên Hệ</option>
                                <option class="level-0" value="4">Sản phẩm</option>
                                <option class="level-1" value="9">&nbsp;&nbsp;&nbsp;01-Mitsubishi Xpander</option>
                                <option class="level-1" value="5">&nbsp;&nbsp;&nbsp;02-Mitsubishi Attrage</option>
                                <option class="level-1" value="6">&nbsp;&nbsp;&nbsp;03-Mitsubishi OutLander</option>
                                <option class="level-1" value="8">&nbsp;&nbsp;&nbsp;04-Mitsubishi Triton</option>
                                <option class="level-1" value="7">&nbsp;&nbsp;&nbsp;05-Mitsubishi Pajero Sport</option>
                                <option class="level-1" value="13">&nbsp;&nbsp;&nbsp;06-Mitsubishi XFC</option>
                                <option class="level-0" value="10">Tin tức</option>
                            </select>
                            <p>Chuyên mục khác với thẻ, bạn có thể sử dụng nhiều cấp chuyên mục. Ví dụ: Trong chuyên mục
                                nhạc, bạn có chuyên mục con là nhạc Pop, nhạc Jazz. Việc này hoàn toàn là tùy theo ý
                                bạn.</p>
                        </div>
                        <div class="form-field term-description-wrap">
                            <label for="tag-description">Mô tả</label>
                            <textarea name="tag_description" id="tag_description" rows="5" cols="40"
                                aria-describedby="description-description"></textarea>
                            <p id="description-description">Thông thường mô tả này không được sử dụng trong các giao
                                diện, tuy nhiên có vài giao diện có thể hiển thị mô tả này.</p>
                        </div>

                        <p class="submit">
                            <input type="submit" name="submit" id="submit" class="button button-primary"
                                value="Thêm thẻ"> <span class="spinner"></span>
                        </p>
                    </form>
                </div>
            </div>
        </div><!-- /col-left -->
        <div id="col-right">
            <div class="col-wrap">
                <form id="posts-filter" action="/admin/tag/action" method="POST">
                    <div class="tablenav top">
                        <div class="alignleft actions bulkactions">
                            <select name="action" id="bulk-action-selector-top">
                                <option value="-1">Hành động</option>
                                <option value="1">Xóa</option>
                            </select>
                            <input type="submit" id="doaction" class="button action" value="Áp dụng">
                        </div>
                        <div class="tablenav-pages"><span class="displaying-num">{{data.totalCount}} mục</span>
                            <span class="pagination-links">
                                <a class="first-page button  {{#ifcond data.paged '==' 1}} disabled {{/ifcond}}"
                                    {{#ifcond data.paged '>' 1}} href="/admin/tag?paged=1&s={{data.s}}" {{/ifcond}}>
                                    <span>«</span>
                                </a>
                                <a class="first-page button  {{#ifcond data.paged '==' 1}} disabled {{/ifcond}}"
                                    {{#ifcond data.paged '>' 1}} href="/admin/tag?paged=1&s={{data.s}}" {{/ifcond}}>
                                    <span>‹</span>
                                </a>
                                <span class="screen-reader-text">Trang hiện tại</span><span id="table-paging"
                                    class="paging-input"><span class="tablenav-paging-text">{{data.paged}} trên <span
                                            class="total-pages">{{data.totalPage}}</span></span></span>
                                <a class="next-page button {{#ifcond data.paged '>=' data.totalPage}} disabled {{/ifcond}}"
                                    {{#ifcond data.paged '<' data.totalPage}}
                                    href="/admin/tag?paged={{add data.paged 1}}&s={{data.s}}" {{/ifcond}}><span
                                        class="screen-reader-text">Trang sau</span><span aria-hidden="true">›</span></a>
                                <a class="last-page button {{#ifcond data.paged '>=' data.totalPage}} disabled {{/ifcond}}"
                                    {{#ifcond data.paged '<' data.totalPage}}
                                    href="/admin/tag?paged={{data.totalPage}}&s={{data.s}}" {{/ifcond}}><span
                                        class="screen-reader-text">Trang cuối</span><span
                                        aria-hidden="true">»</span></a></span>
                        </div>
                        <br class="clear">
                    </div>
                    <h2 class="screen-reader-text">Danh sách tag</h2>
                    <table class="wp-list-table widefat fixed striped table-view-list tags">
                        <thead>
                            <tr>
                                <td id="cb" class="manage-column column-cb check-column"><label
                                        class="screen-reader-text" for="cb-select-all-1">Chọn toàn bộ</label><input
                                        id="cb-select-all-1" type="checkbox"></td>
                                <th scope="col" id="name"
                                    class="manage-column column-name column-primary sortable desc">
                                    Tên
                                </th>
                                <th scope="col" id="description" class="manage-column column-description sortable desc">
                                    Môtả
                                </th>
                                <th scope="col" id="slug" class="manage-column column-slug sortable desc">
                                    Đường dẫn
                                </th>
                            </tr>
                        </thead>

                        <tbody id="the-list" data-wp-lists="list:tag">
                            {{#each data.tags}}
                            <tr class="level-0">
                                <th scope="row" class="check-column">
                                    <input type="checkbox" name="delete_tags[]" id="cb-select-1" value="{{this.id}}">
                                </th>
                                <td class="name column-name has-row-actions column-primary" data-colname="Tên">
                                    <strong>
                                        <a class="row-title" href="/admin/tag/update?id={{this.id}}">{{this.name}}</a>
                                    </strong><br>
                                    <div class="row-actions">
                                        <span class="edit">
                                            <a href="/admin/tag/update?id={{this.id}}">Chỉnh sửa</a> |
                                        </span>
                                        <span class="inline hide-if-no-js">
                                            <span class="delete"><a class="delete" id="{{this.id}}"
                                                    href="/admin/tag/delete" class="delete-tag aria-button-if-js"
                                                    role="button">Xóa</a> | </span>
                                            <span class="view">
                                                <a href="/tag/{{this.slug}}">Xem</a>
                                            </span>
                                        </span>
                                    </div>
                                    <button type="button" class="toggle-row">
                                        <span class="screen-reader-text">Hiển thị chi tiết</span>
                                    </button>
                                </td>
                                <td class="description column-description">
                                    {{this.description}}
                                </td>
                                <td class="slug column-slug">
                                    {{this.slug}}
                                </td>
                            </tr>
                            {{/each}}
                            {{#ifcond data.totalCount '==' 0}}
                            <tr class="no-items">
                                <td class="colspanchange" colspan="4">Không tìm thấy thẻ đánh dấu nào.</td>
                            </tr>
                            {{/ifcond}}
                        </tbody>

                        <tfoot>
                            <tr>
                                <td class="manage-column column-cb check-column"><label class="screen-reader-text"
                                        for="cb-select-all-2">Chọn toàn bộ</label><input id="cb-select-all-2"
                                        type="checkbox"></td>
                                <th scope="col" class="manage-column column-name column-primary sortable desc">
                                    Tên
                                </th>
                                <th scope="col" class="manage-column column-description sortable desc">
                                    Mô tả
                                </th>
                                <th scope="col" class="manage-column column-slug sortable desc">
                                    Đường dẫn
                                </th>
                            </tr>
                        </tfoot>

                    </table>
                </form>
                <form method="get">
                    <input type="hidden" id="tag-search-input" name="s" value="{{data.s}}">
                    <div class="tablenav bottom">
                        <div class="tablenav-pages"><span class="displaying-num">{{data.totalCount}} mục</span>
                            <span class="pagination-links">
                                <a class="first-page button  {{#ifcond data.paged '==' 1}} disabled {{/ifcond}}"
                                    {{#ifcond data.paged '>' 1}} href="/admin/tag?paged=1&s={{data.s}}" {{/ifcond}}>
                                    <span>«</span>
                                </a>
                                <a class="first-page button  {{#ifcond data.paged '==' 1}} disabled {{/ifcond}}"
                                    {{#ifcond data.paged '>' 1}} href="/admin/tag?paged=1&s={{data.s}}" {{/ifcond}}>
                                    <span>‹</span>
                                </a>
                                <span class="paging-input"><label for="current-page-selector"
                                        class="screen-reader-text">Trang hiện tại</label><input class="current-page"
                                        id="current-page-selector" type="text" name="paged" value="{{data.paged}}"
                                        size="1" aria-describedby="table-paging"><span class="tablenav-paging-text">
                                        trên <span class="total-pages">{{data.totalPage}}</span></span></span>

                                <a class="next-page button {{#ifcond data.paged '>=' data.totalPage}} disabled {{/ifcond}}"
                                    {{#ifcond data.paged '<' data.totalPage}}
                                    href="/admin/tag?paged={{add data.paged 1}}&s={{data.s}}" {{/ifcond}}><span
                                        class="screen-reader-text">Trang sau</span><span aria-hidden="true">›</span></a>
                                <a class="last-page button {{#ifcond data.paged '>=' data.totalPage}} disabled {{/ifcond}}"
                                    {{#ifcond data.paged '<' data.totalPage}}
                                    href="/admin/tag?paged={{data.totalPage}}&s={{data.s}}" {{/ifcond}}><span
                                        class="screen-reader-text">Trang cuối</span><span
                                        aria-hidden="true">»</span></a></span>
                        </div>
                        <br class="clear">
                    </div>
                </form>
            </div>
        </div><!-- /col-right -->
    </div><!-- /col-container -->
</div>
<script src="/public/admin/js/tags.js"></script>