<div class="wrap nosubsub">
    <h1 class="wp-heading-inline">Thẻ</h1>
    <hr class="wp-header-end">
    <div id="ajax-response"></div>
    <div id="col-container" class="wp-clearfix">
        <div id="col-left">
            <div class="col-wrap">
                <div class="form-wrap">
                    <h2>Cập nhật thẻ</h2>
                    <form id="addtag" method="post" class="validate">
                        <input type="hidden" id="id" name="id" value="{{data.id}}">
                        <div class="form-field form-required term-name-wrap">
                            <label for="tag-name">Tên *</label>
                            <input name="tag_name" id="tag_name" value="{{data.name}}" type="text" value="" size="40"
                                aria-required="true" aria-describedby="name-description">
                            <p id="name-description">Tên riêng sẽ hiển thị trên trang mạng của bạn.</p>
                        </div>
                        <div class="form-field term-slug-wrap">
                            <label for="tag_slug">Đường dẫn *</label>
                            <input name="tag_slug" id="tag_slug" type="text" value="{{data.slug}}" size="40"
                                aria-describedby="slug-description">
                            <p id="slug-description">Chuỗi cho đường dẫn tĩnh là phiên bản của tên hợp chuẩn với Đường
                                dẫn (URL). Chuỗi này bao gồm chữ cái thường, số và dấu gạch ngang (-).</p>
                        </div>
                        <div class="form-field term-description-wrap">
                            <label for="tag-description">Mô tả</label>
                            <textarea name="tag_description" id="tag_description" rows="5" cols="40"
                                aria-describedby="description-description">{{data.description}}</textarea>
                            <p id="description-description">Thông thường mô tả này không được sử dụng trong các giao
                                diện, tuy nhiên có vài giao diện có thể hiển thị mô tả này.</p>
                        </div>

                        <p class="submit">
                            <input type="submit" name="submit" id="update_submit" class="button button-primary"
                                value="Thêm thẻ">
                            <span id="delete-link">
                                <a class="delete" href="/admin/tag/delete" id="{{data.id}}">Xóa</a>
                            </span>
                            <span class="spinner"></span>
                        </p>
                    </form>
                </div>
            </div>
        </div><!-- /col-left -->
    </div><!-- /col-container -->
</div>
<script src="/public/admin/js/tags.js"></script>